body{
    background-color:#fff38a
}
header{
    position:fixed;
    width: 100%;
}
footer{
    padding-top: 2%;
    padding-bottom: 0.5%;
    text-align: center;
    font-weight: bold;
    font-size: 1vw;
}
.myfooter{
    display: block;
    width: 100%;
    position:relative;
    bottom: 0;
    background-color: gold;
}
.container{
    text-align: center;
    font-family: monospace;
    padding: 100px 50px 70px 0px;
}
.mntittle{
    color:#f7b946;
    font-family:cursive;
    font-size: 3.5vw;
    text-shadow: 1px 3px 2px black;
    text-align: center;
}
.mntittle hr{
    border: solid 2px #f7b946;
}
ul{
    list-style: none;
    font-weight: bolder;
}
a{
    text-decoration: none;
}
.myheader{
    width: 100%;
    display: flex;
    justify-content:space-evenly;
    background-color: gold;
}
#bar{
    display: none;
    background-color: gold;
    text-align: right;
    padding: 10px;
    cursor: pointer;
    padding-right: 30px;
}
nav{
    display: block;
}
ul#main-menu{
    display: flex;
    padding: 10px;
}
ul#main-menu a{
    text-transform: capitalize;
    padding: 10px 20px;
    color: black;
    display: block;
    font-size: 1.75vw;
} 
.mncontainer{
    color:black;
    font:message-box;
    font-weight:lighter;
    font-size: 2.5vw;
    text-shadow: 1px 3px 2px black;
}
.box{
    display: inline-block;
}
dd a{
    text-align: center;
    text-decoration: none;
    color: black;
    font-weight: normal;
    font-size: 2.5vw;
    text-shadow: none;
    display: inline-block;
    background-color: gold;
    width: 165px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 5px;
    padding-bottom: 6px;
}
a:hover{
    text-decoration: underline;
}
dd a:hover{
    text-decoration: underline;
}
header{
    z-index: 9999;
}
.normal{
    z-index: -9999;
    padding: auto;
    width: 70%;
    height: 50%;
    margin: 0% 20% 0% 15%;
}
.normal img{
    width: 100%;
}